doctype html
html
    head
      title= title
      meta(charset="UTF-8")
      base(href="/")
      meta(author="Roberto twitter @TheOneRavenous")
      meta(contact=" roberto.vega87@gmail.com")
      meta(keywords="Austin Nodeschool")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      link(rel="icon"
        type="image/png"
        href="./images/myicon.png")
      link(rel="stylesheet", href="/stylesheets/handheld.css" type="text/css" media="handheld, (max-width:600px)")
      link(rel='stylesheet', href='/stylesheets/application.css')
      link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
      script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js")
      script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js")

      body(ng-app="mainRoom")
        center
          div.row
            nav(class="navbar navbar-inverse navbar-fixed-top")
              div.container-fluid
                div.col-xs-6
                  div.navbar-header
                    a(class="navbar-brand",ng-click="muToggle()",href="/") Austin Node School
                div.col-xs-6
                  div.menubtns
                    ul(class="nav navbar-nav")
                      li#menu
                        a(ng-click="muToggle()",ng-init="mState=true")
                      li#muHome(ng-click="muToggle()",ng-hide="mState")
                        a(href="/u") Home
                      li#muKitchens(ng-click="muToggle()",ng-hide="mState")
                        a(href="/u/profile") Profile
          block content
footer
include script