script(type="text/javascript" src="../js/kitchensService.js")
script(type="text/javascript" src="../js/kitchensController.js")
script(type="text/javascript" src="../js/mapService.js")
script(type="text/javascript" src="../js/mapController.js")
script(type="text/javascript" src="../js/dishService.js")
script(type="text/javascript" src="../js/dishController.js")
script(type="text/javascript" src="../js/userService.js")
script(type="text/javascript" src="../js/userController.js")
script(type="text/javascript" src="../js/appControllers.js")
script(type="text/javascript" src="../js/front_end.js")

