script(type="text/javascript" src="../js/auService.js")
script(type="text/javascript" src="../js/mu.js")
script(type="text/javascript" src="../js/userService.js")
script(type="text/javascript" src="../js/userController.js")
script(type="text/javascript" src="../../js/front_end.js")

