block content
  div.contentView
       h3 You hit the Jade render engine main page yet another front end to attach to node.
       p There isn't really anything to look at because we haven't passed express any information on templates
       p or any information on static files such as CSS, that is why you are only seeing this unstyled text.



