<div>
    <article id="mainArticle">
      <h1>Welcome to Chef du Jouir</h1>
        <p> Above you can navigate to the chefs page and check out where awesome chefs are cooking in your city. If you are a chef you can sign up to be apart of the network and start cooking your next masterpiece for guests.
        </p>
        <p>You can also find a Chef by food items. We recommend this method of searching for your next meal as our chefs strive to make a spectacular main dish and branch off from there.</p>
     </article>

    <div>Contact infromation <a href=”http://www.twitter.com/theoneravenous”>reach out to us on Twitter</a> &nbsp; &nbsp; &nbsp; &copy; cbrv.Co</div>
</div>